<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.memberModification}">회원 수정</h2>
    </div>

    <hr class="my-4">

    <form th:action th:object="${member}" method="post">

        <div>
            <label for="username" th:text="#{label.member_id}">Member_ID</label>
            <input type="text" id="id" th:field="*{id}" class="form-control" readonly>
        </div>
        <div>
            <label for="username" th:text="#{label.userId}">사용자 ID</label>
            <input type="text" id="username" th:field="*{username}" class="form-control"
                   th:errorclass="field-error" readonly>
            <div class="field-error" th:errors="*{username}"/>
        </div>
        <div>
            <label for="password" th:text="#{label.password}">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}"/>
        </div>
        <div>
            <label for="confirmPassword" th:text="#{label.confirmPassword}">비밀번호 확인</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{confirmPassword}"></div>
        </div>
        <div>
            <label for="name" th:text="#{label.name}">이름</label>
            <input type="text" id="name" th:field="*{name}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{name}"/>
        </div>
        <div>
            <label for="nickName" th:text="#{label.nickName}">별명</label>
            <input type="text" id="nickName" th:field="*{nickName}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{nickName}"/>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.edit}">수정</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button" th:text="#{button.cancel}">취소
                </button>
            </div>
        </div>

    </form>
</body>
</html>