<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 700px;
        }
    </style>
</head>

<body>
<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{board.add}">게시글 등록</h2>
    </div>

    <h4 class="mb-3" th:text="#{board.input}">게시글 입력</h4>

    <form th:action="@{/community/add}" th:object="${createDto}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="boardType" value="COMMUNITY">
        <div>
            <label for="title" th:text="#{board.title}">제목</label>
            <input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력하세요." th:field="*{title}"/>
        </div>
        <br/>
        <div>
            <label for="id" th:text="#{board.author}">작성자</label>
            <input type="hidden" id="id" name="id" th:value="${currentUserId}"/>
            <input type="text" id="author" name="author" class="form-control" th:value="${currentUserNickname}" readonly/>
        </div>
        <br/>
        <div>
            <label for="content" th:text="#{board.content}">내용</label>
            <textarea cols="150" rows="10" id="content" name="content" class="form-control" placeholder="내용을 입력하세요." th:field="*{content}"></textarea>
        </div>
        <br/>
        <div>
            <label for="youtubeUrl" th:text="#{board.youtubeURL}">유튜브 URL</label>
            <input type="text" id="youtubeUrl" name="youtubeUrl" class="form-control" placeholder="유튜브 동영상 URL을 입력하세요." th:field="*{youtubeUrl}"/>
        </div>
        <br/>
        <div>
            <label for="files" th:text="#{board.imageUpload}">이미지 업로드</label>
            <input type="file" id="files" name="files" multiple accept="image/*" class="form-control-file"/>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='/community/board'"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
